* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 99.5vw;
  height: 100vh;
  text-align: center;
  display: flex;
  padding: 1em 2.5em;
  justify-content: space-evenly;
}

.header {
  text-transform: capitalize;
}
.taskPool {
  border: 4px solid black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 35%;
  padding: 0 1em;
  padding-top: 0.5em;
  overflow-y: auto;
}

.task {
  display: flex;
  border-bottom: 2px solid transparent;

  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.25em 0;
}

.taskHeader {
  width: 45%;
}

.TaskPoolHeaders {
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  font-size: larger;
  text-decoration: underline;
  font-weight: 750;
  text-align: center;
}

.HalfTaskPoll {
  border: 4px solid black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 47%;
  padding: 0 1em;
  padding-top: 0.5em;
  overflow-y: auto;
}

.double_stack {
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.miniTitle {
  font-size: 1em;
  font-weight: 700;
}

.urgencyIMG {
  width: 110px;
}

@media screen and (max-width: 1024px) {
  .App {
    justify-content: space-between;
  }
  .TaskPoolHeaders {
    font-size: 1.1em;
    font-weight: 750;
    justify-content: space-between;
  }

  .taskHeader {
    width: 45%;
  }

  .urgencyIMG {
    width: 80px;
  }

  .miniTitle {
    font-size: 0.9em;
    font-weight: 700;
  }
}

@media screen and (max-width: 767px) {
  .App {
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }

  .taskPool {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 75%;
  }

  .TaskPoolHeaders {
    font-size: 1.1em;
    font-weight: 750;
    justify-content: space-between;
  }

  .taskHeader {
    width: 45%;
  }

  .double_stack {
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .urgencyIMG {
    width: 110px;
  }
}
@media screen and (max-width: 425px) {
  .App {
    flex-direction: column;
    gap: 1em;
    align-items: center;
  }

  .taskPool {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 95%;
  }

  .TaskPoolHeaders {
    font-size: 1em;
    font-weight: 750;
    justify-content: space-between;
  }

  .taskHeader {
    width: 45%;
  }

  .double_stack {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }

  .urgencyIMG {
    width: 75px;
  }

  .miniTitle {
    font-size: 0.8em;
    font-weight: 700;
  }
}
