* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  width: 99.5vw;
  height: 100vh;
  text-align: center;
  display: flex;
  padding: 1em 2.5em;
  justify-content: space-around;
}

.header {
  text-transform: capitalize;
}
.taskPool {
  border: 4px solid black;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 0 1em;
  padding-top: 0.5em;
}

.task {
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.25em 0;
}

.TaskPoolHeaders {
  display: flex;
  justify-content: space-around;
  text-transform: capitalize;
  font-size: larger;
  text-decoration: underline;
  font-weight: 750;
}
